.carousel {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    background-color: light-gray;
    padding: 20px;
    height: 60vh;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
}

.carousel-item {
    display: flex;
    align-items: center;
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-content {
    flex: 1;
    padding: 0px;
}

.carousel-content h1 {
    font-size: 3.5em;
    margin: 0;
}

.carousel-content h1 span {
    color: #4CAF4F;
}

.carousel-content p {
    color: #6c757d;
    margin: 10px 0 20px;
}

.register-button {
    background-color: #4CAF4F;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.carousel-image {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 100%;
}

.carousel-image img {
    max-width: 100%;
    height: auto;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #4CAF4F;
}